<div layout="column" layout-padding style="color:white">
  <div layout="column" layout-gt-sm="row"  layout-padding>
    <div flex="15" layout="column">
      <party-uninvited flex party="partyDetails.party" ng-show="partyDetails.canInvite()"></party-uninvited>
    </div>
    <div flex="70" layout="column">
      <h1 style="color:orange">{{partyDetails.party.name}} - {{partyDetails.owner_ign()}}</h1>
      <iframe width="100%" height="800px" id="gm-info" src="http://lienminhsamsoi.vn/profile?name="></iframe>
    </div>
    <div flex="15" layout="column">
      <party-invited flex party="partyDetails.party" ng-show="partyDetails.canInvite()"></party-invited>
    </div>
  </div>
</div>
