<h4 class="md-headline" style="color: cyan">Người chơi đã mời</h4>
  <div>
  <p>
  <i class="fa fa-spinner" aria-hidden="true"></i>: Đang đợi trả lời. - <i style="color:lightgreen" class="fa fa-check-square" aria-hidden="true"></i>: Đồng ý lời mời.</p>
  <span class="total-charge" style="font-weight:bold; font-size:1.4em; color:light-white">Tiền phải trả nếu thắng:<br/>{{(partyInvited.party.description * 1)}}x{{partyInvited.totalGoes()}} = <span style="color:orange">{{(partyInvited.party.description * 1) * (partyInvited.totalGoes()) | number : 0}}</span></span>
</div>


<md-list>

  <md-list-item ng-repeat="user in partyInvited.users | invitedFilter:partyInvited.party">
    <p>
      <span style="font-weight:bold; font-size:1.2em">
        <span ng-show="partyInvited.isAnswer(user._id)" style="font-size:1.8em;color:lightgreen">
          <i class="fa fa-check-square" aria-hidden="true"></i> </span>
          <i ng-hide="partyInvited.isAnswer(user._id)" class="fa fa-spinner" aria-hidden="true"></i>&nbsp;
          {{ user | displayNameFilter }} - <span class="clickable" onClick="copyToClipboard(this);" style="color:lightyellow">{{user.profile.ign}}</span>
          <md-button ng-click="partyInvited.viewlmss(user)" class="md-raised" style="min-width: 8%;"><i class="fa fa-info" aria-hidden="true"></i></md-button>
        </span>
        <!-- <span ng-hide="partyInvited.isAnswer(user._id)" ng-click="partyInvited.unInvite(user)"> Hủy mời</span> -->
    </p>
  </md-list-item>
  <md-list-item ng-if="(partyInvited.users | invitedFilter:partyInvited.party).length <= 0">
    Chưa mời người chơi nào!
  </md-list-item>
  <!-- <md-list-item ng-if="(partyInvited.users | invitedFilter:partyInvited.party).length > 0"> -->

  <!-- </md-list-item> -->
</md-list>
