<div layout="row">
  <md-button flex ui-sref="login" ng-hide="auth.isLoggedIn">Đăng nhập</md-button>
  <md-button flex ui-sref="register" ng-hide="auth.isLoggedIn">Đăng ký TK</md-button>
  <div ng-show="auth.isLoggedIn"><i class="fa fa-user" aria-hidden="true"></i>{{ auth.currentUser | displayNameFilter }}</div>
  <div ng-show="auth.isLoggedIn"> [{{auth.currentUser.profile.ign}}] <span style="color:lightyellow">{{auth.currentUser.profile.amount | number : 0}}</span></div>
  <md-button class="md-warn" flex ng-click="auth.logout()" ng-show="auth.isLoggedIn">Thoát</md-button>
</div>
