<div layout="row">
  <md-button flex ui-sref="login" ng-hide="auth.isLoggedIn">Đăng nhập</md-button>
  <md-button flex ui-sref="register" ng-hide="auth.isLoggedIn">Đăng ký TK</md-button>
  <span style="font-size:0.7em;padding-top: 22px;" ng-show="auth.isLoggedIn">Bạn có sẵn sàng chiến?</span>
  <md-switch ng-show="auth.isLoggedIn" ng-model="auth.currentUser.profile.isAvailable" aria-label="is available" ng-change="auth.toggleAvailable()" class="md-warn">
      <i ng-show="auth.currentUser.profile.isAvailable" class="fa fa-check-circle" aria-hidden="true"></i>
      <i ng-hide="auth.currentUser.profile.isAvailable" class="fa fa-circle-o" aria-hidden="true"></i>
  </md-switch>
  <div ng-show="auth.isLoggedIn"><i class="fa fa-user" aria-hidden="true"></i><span style="padding-top: 22px;">{{ auth.currentUser | displayNameFilter }}</span></div>
  <div ng-show="auth.isLoggedIn"> [{{auth.currentUser.profile.ign}}]<br/><i class="fa fa-money" aria-hidden="true"></i><span style="color:lightyellow; padding-top: 22px;"> {{auth.currentUser.profile.amount | number : 0}}</span></div>
  <i ng-click="auth.logout()" ng-show="auth.isLoggedIn" class="fa fa-sign-out" aria-hidden="true"></i>
</div>
