<div layout="column" class="crickbox" layout-padding>
  <party-add-button ng-show="partiesList.isLoggedIn"></party-add-button>
  <div flex layout="row" layout-padding>
    <md-input-container style="float:right; color: white">
      <label>Tìm kiếm</label>
      <input ng-model="partiesList.searchText">
    </md-input-container>
    <parties-sort on-change="partiesList.sortChanged(sort)" property="name" order="1"></parties-sort>
  </div>
  <div layout="column" layout-gt-sm="row">
    <div flex="85">
      <md-content class="md-padding" layout="row" layout-wrap style="background-color: rgba(0, 0, 0, 0.4);">
          <md-card style="color:white; background-color: rgba(255, 255, 255, 0.2); width:23%" dir-paginate="party in partiesList.parties | itemsPerPage: partiesList.perPage" total-items="partiesList.partiesCount">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" style="color:orange" ui-sref="partyDetails({ partyId: party._id, partyOwner: party.owner })">
                  {{party.name}}
                  <party-remove party="party"></party-remove>
                </span>
                <span style="font-size:0.8em; padding-top: 15px;background-color: rgba(0,0,0,0.25);">Thưởng nếu chiến thắng <span class="md-head" style="float:right;line-height:24px;font-weight:bold;font-size:1.45em;color:cyan">{{party.description | number:0}}</span></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <party-rsvps-list rsvps="party.rsvps"></party-rsvps-list>
              <party-unanswered party="party" ng-if="!party.public"></party-unanswered>
              <div ng-if="party.public">
                Mọi người đều được mời!
              </div>
              <party-creator party="party"></party-creator>
            </md-card-content>
            <md-card-actions>
              <party-rsvp party="party" ng-hide="partiesList.isOwner(party)"></party-rsvp>
              <div ng-hide="partiesList.isLoggedIn">
                <i>Vui lòng Đăng nhập để phản hồi lời mời</i>
              </div>
            </md-card-actions>
          </md-card>
      </md-content>
      <dir-pagination-controls on-page-change="partiesList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
    <div flex="15">
      <!-- <parties-map parties="partiesList.parties"></parties-map> -->
      <div id="charge-form" ng-show="partiesList.isLoggedIn" style="padding-left:20px; color:white;">
        <h3>Nạp tiền vào TK</h3>
        <iframe frameborder="0" height="420" marginheight="0" marginwidth="0" src="https://pluspay.vn/card/1888/evrthg2you@gmail.com" width="650"></iframe>
        <div>
          <p>Bạn nên copy ghi chú và chỉnh lại số tiền:
            <span class="clickable" onClick="copyToClipboard(this);" style="color:lightyellow">
              Date: {{partiesList.date | date:"dd/MM/yyyy 'at' h:mma"}} - Tài khoản [{{partiesList.currentUser | displayNameFilter}}],
              Nạp tiền vào TK, số tiền: 20,000 VND.
            </span> (click vào và dán (Ctrl+V) vào khung Ghi chú phía trên)
          </p>
        </div>
        <!-- {{ partiesList.popNote }} -->
      </div>
    </div>
  </div>
</div>
