<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span ui-sref="parties" class="md-headline" style="cursor: pointer;">
        <i class="fa fa-home" aria-hidden="true"></i>
        Liên minh cao thủ <span style="font-size:0.5em">- Mời người kéo rank</span>
        <i class="fa fa-sign-language" aria-hidden="true"></i>
      </span>
    </h2>
    <span class="mqtext" id="txt-thongbao" style="width: 40%; color: lightyellow" flex> Từ 14/5 đến hết 21/5 - x2 giá trị thẻ nạp vào tài khoản - nhanh tay nạp thẻ hưởng ưu đãi đặc biệt này nhé !!! </span>
    <auth></auth>
  </div>
</md-toolbar>
